.bg-image {
    background-image: url(./assets/bgKD.jpg);
    background-repeat: no-repeat;
    min-height: 800px;
    width: 100%;
    background-size: contain;
    margin: 20px;
}

.welcome-text {
    text-align: center;
    color: rgb(0, 0, 0);
}

.brand-name {
    text-align: center;
    color: brown;
    font-size: 100px;
    font-family: lucida handwriting;
}

.events{
    padding: 50px 50px;
    text-align: center;
    color: cornflowerblue;
}

.card-title {
    text-align: center;
}

.ms-3 {
    color: black;
}